{% extends 'base.html' %}
{% block titleBlock %}龙搜{% endblock %}
{% block metaBlock %}
<meta name="keywords" content="搜索,龙搜,首页" />
<meta name="description" content="龙搜，搜索" />
{% endblock %}
{% block styleBlock %}
<link rel="stylesheet" type="text/css" href="/static/css/style.css">
{% endblock %}
{% block scriptBlock %}
<script type="text/javascript"  src="/static/script/ImageSlide.js"></script>
<script type="text/javascript"  src="/static/script/jpages.js"></script>
<script type="text/javascript" src="/static/script/prototype.js"></script>
<script type="text/javascript">
$(function(){
    /*
	首页图片轮播效果实现
	 */
	new ImageSlide({
		project:"#focusImage",
		content:".contents li",
		tigger:".triggers a",
		dot:".icon-dot a",
		watch:".link-watch",
		auto:!0,
		hide:!0
	})
});//function
/*
搜索按钮点击事件
 */
function searchClick(){
    var searchKeyWord = $('#search').val();
    window.location.href = '/indexchat?pattern=small&keyword='+searchKeyWord;
};
</script>
{% endblock %}
{% block mainBlock %}
<div class="logo"></div>
<div class="logo3"></div>
<div class="search">
    <div class="search-fs" style="display:none">
    <form action="" method="get">
       <div class="search-fs1"><span class="search-fs4"><input name="" type="checkbox" value="" /></span><span class="search-fs2">Cral+enter</span></div>
       <div class="search-fs1"><span class="search-fs4"><input name="" type="checkbox" value="" /></span><span class="search-fs2">Enter</span></div>
    </form>
    </div>
    <div class="tiaok" style="display:none">
        <div class="tiaok1"><a href="#" class="tiaok1-a">dsadsadsadsadsa</a><a class="tiaok1-a1"href="#">删除</a></div>
        <div class="tiaok1"><a href="#" class="tiaok1-a">dsadsadsadsadsa</a><a class="tiaok1-a1"href="#">删除</a></div>
        <div class="tiaok1"><a href="#" class="tiaok1-a">dsadsadsadsadsa</a><a class="tiaok1-a1"href="#">删除</a></div>
        <div class="tiaok1"><a href="#" class="tiaok1-a">dsadsadsadsadsa</a><a class="tiaok1-a1"href="#">删除</a></div>
        <div class="tiaok1"><a href="#" class="tiaok1-a">dsadsadsadsadsa</a><a class="tiaok1-a1"href="#">删除</a></div>
        <div class="tiaok1"><a href="#" class="tiaok1-a">dsadsadsadsadsa</a><a class="tiaok1-a1"href="#">删除</a></div>
        <div></div>
	</div>
		<div>
			<div class="search-kz">
				<div class="search-kza">
					<select class="search-kzak" name="s ">
                        <option>知道</option>
						<option>新闻</option>
						<option>音乐</option>
						<option>电影</option>

					</select>
				</div>
			</div>
			<div class="search-k">
				<form action="" method="get">
				<input id="search" type="text" class="search-kk" placeholder="一起龙搜一下" onfocus="if(this.value==defaultValue) {this.value='';}" onblur="if(!value) {value=defaultValue; this.type='text';}" style="color:#000;" />
					<input name="input" type="button" class="search-kkk" />
				</form>
			</div>
			<div class="search-y"><a class="search-ya" href="javascript:searchClick()"></a> <a href="#" class="search-yaa"></a></div>
	</div>
		<div class="biaoq"><a class="bq" href="#">你好</a><a  href="#" class="bq">你好</a><a class="bq" href="#">你好</a><a class="bq" href="#">你好你好</a></div>
</div>
<!-- 登录后显示-->
<div class="indexwaa" style="{% if not mine %}display: none{% endif %}">
   <div class="newkk">
      <span class="newkk1 newkk12">新闻</span>
{#	  <span class="newkk1">新闻</span>#}
{#	  <span class="newkk1">新闻</span>#}
{#	   <span class="newkk1">新闻</span>#}
{#	  <span class="newkk1">新闻</span>#}
{#	  <span class="newkk1">新闻</span>#}
	  <a class="sez" href="#"></a>
   </div>
   <div class="newk">
      <div class="newk-y">
          <div id="focusImage" class="slide">
                <ul class="contents">
                    <li class="current">
                        <div class="image"><a href="#"><img src="/static/photo/a.jpeg" width="400" height="300"></a></div>
                    </li>
                    <li>
                        <div class="image"><a href="#"><img src="/static/photo/b.jpg" width="400" height="300"></a></div>
                    </li>
                    <li>
                        <div class="image"><a href="#"><img src="/static/photo/c.jpg" width="400" height="300"></a></div>
                    </li>
                    <li>
                        <div class="image"><a href="#"><img src="/static/photo/d.jpg" width="400" height="300"></a></div>
                    </li>
                    <li>
                        <div class="image"><a href="#"><img src="/static/photo/e.jpg" width="400" height="300"></a> </div>
                    </li>
                </ul>
                <div class="triggers">
                    <a href="javascript:;" class="cur current"><img src="/static/photo/a.jpeg" width="58" height="38"></a>
                    <a href="javascript:;"><img src="/static/photo/b.jpg" width="58" height="38"></a>
                    <a href="javascript:;"><img src="/static/photo/c.jpg" width="58" height="38"></a>
                    <a href="javascript:;"><img src="/static/photo/d.jpg" width="58" height="38"></a>
                    <a href="javascript:;"><img src="/static/photo/e.jpg" width="58" height="38"></a>
                </div>
	            <div class="icon-dot"></div>
                <span class="link-watch pre down"></span>
                <span class="link-watch next down"></span>
          </div>
      </div>
      <div class="newk-r">
	    <div class="jtxw-t"><span class="jtxw">今天新闻</span><span class="hyh1"><a>换一换</a></span></span></div>
		<div class="jtxw-x">
		    <ul class="jtxwz1">
			  <li class="jtxw1"><A class="jtxw12" href="">北京地铁7号线空调着火</A><a
			  class="jtxw13"></a></li><li class="jtxw1"><A class="jtxw12" href="">思维列控：打造中国</A><a
			  class="jtxw13"></a></li><li class="jtxw1"><A class="jtxw12" href="">网络正能量你我不缺位</A><a
			  class="jtxw13"></a></li><li class="jtxw1"><A class="jtxw12" href="">宋智孝夺韩国最美身材</A><a
			  class="jtxw13"></a></li><li class="jtxw1"><A class="jtxw12" href="">协警枪击男子被拘真相</A><a
			  class="jtxw13"></a></li><li class="jtxw1"><A class="jtxw12" href="">12岁男孩捡钥匙开走车</A><a
			  class="jtxw13"></a></li><li class="jtxw1"><A class="jtxw12" href="">韩国女团美国机场遭扣留</A><a
			  class="jtxw13"></a></li><li class="jtxw1"><A class="jtxw12" href="">内地嫩模拉扯肩带现尴尬</A><a
			  class="jtxw13"></a></li>
	  <li class="jtxw1"><A class="jtxw12" href="">Win10正式版升级包预下载</A><a
			  class="jtxw13"></a></li><li class="jtxw1"><A class="jtxw12" href="">饿一下午明星看见炸鸡疯狂</A><a
			  class="jtxw13"></a></li><li class="jtxw1"><A class="jtxw12" href="">老人“寒秘”吃点核桃</A><a
			  class="jtxw13"></a></li><li class="jtxw1"><A class="jtxw12" href=""> 亚马逊下架部分平衡车</A><a
			  class="jtxw13"></a></li><li class="jtxw1"><A class="jtxw12" href="">空气质量东北好南部差</A><a
			  class="jtxw13"></a></li><li class="jtxw1"><A class="jtxw12" href="">武林风全球功夫盛典</A><a
			  class="jtxw13"></a></li>
			</ul>
		</div>
	</div>
</div>
   </div>
<!-- 登录后显示-->
{% endblock %}
