<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>无标题文档</title>
</head>
<body>
<div  style="width:636px; margin:auto;">
<Div class="yzm" style=" font-size:12px;">
   <div><img src="http://192.168.1.15:7080/static/img/yzm.jpg" width="636" height="71" /></div>
   <div style="padding:30px;"><div>密码找回</div>
   <br />
<div>请点击这里，重置您的密码：<br>
    <span style="color:#0f8ed9"><a href="{{ valid_key }}">{{ valid_key }}</a></span>
</div>
<br /><br />
{#<Div style=" text-wrap:normal;">#}
{#请点击以下链接验证你的邮箱地址，验证后就可以使用拉勾网的所有功能啦! <br />#}
{#<A href="#" style=" color:#0f8ed9;">http://account.lagou.com/account/emailCheck.html?code=f740d6f128b531e2194139e77e8b9c05662352b7fabc7b05a157ae85df0e5065 </A></Div><br /><br />#}
{#<Div>#}
{#如果以上链接无法访问，请将该网址复制并粘贴至新的浏览器窗口中。</Div><br />#}
<Div>(如果链接无法点击，请将它拷贝到浏览器的地址栏中)<br>

好的密码，不但应该容易记住，还要尽量符合以下强度标准：
·包含大小写字母、数字和符号
·不少于 10 位
·不包含生日、手机号码等易被猜出的信息</Div><br />
<Div>龙搜</div>
</div>
</Div>
<div style="font-size:12px; padding: 15px 30px; border-top:1px #f3f3f3 solid; color:#999;">本邮件是用户注册龙搜后系统自动发出，如果你并未注册龙搜，可能是因为其他用户误输入了你的邮箱地址而使你收到了这封邮件，你可以点击这里 <a href="#" style="color:#0f8ed9;">修改密码</a>。</div>

<Div style="font-size:12px; color:#999; padding: 15px 30px; border-top:1px #f3f3f3 solid;">如有任何问题，可以与我们联系，我们将尽快为你解答。 
<a href="#" style="color:#0f8ed9">Email：vivi@lagou.com</a> ，电话：400-605-9900，QQ:800056379</Div>
</div>
</body>
</html>
