{% extends 'base.html' %}
{% block titleBlock %}龙搜{% endblock %}
{% block metaBlock %}
<meta name="keywords" content="搜索,龙搜,首页" />
<meta name="description" content="龙搜，搜索" />
{% endblock %}
{% block styleBlock %}
<link rel="stylesheet" type="text/css" href="/static/css/style.css">
{% endblock %}
{% block scriptBlock %}
<script type="text/javascript" charset="utf-8" src="/static/script/mousewheel.js"></script>
<script type="text/javascript" charset="utf-8" src="/static/script/easyscroll.js"></script>
<style type="text/css">
.set-nv ul li:nth-child(1) { background:#2a8fdd;}
.set-nv ul li:nth-child(1) a {color:#FFF;}
.set-nv ul li:nth-child(1) a{background: url('/static/img/ann-2.png') no-repeat; background-position: 23px -12px;}
</style>
<script type="text/javascript">
$(function(){
    $('.div_scroll').scroll_absolute({arrows:true});
    $('.container2 .div_scroll').scroll_absolute({arrows:false});
    $('body').attr('class', 'bg2');
});//function

/*
编辑按钮点击事件
*/
function edit_click(inp, type){
    if(type == 'mail'){
        $('#changeMailDiv').show();
    }else if(type == 'phone'){
        $('#changePhoneDiv').show();
    }else{
        $(inp).closest('.set-yx').find('.nicx').show();
    }

}
/*
用户昵称保存
 */
function saveUsername(){
    var username = $('#username').val();
    $.post('/user/info', {'username': username}, function(error){
        var errorInfo = eval(error)[0];
        if(errorInfo.error){
            alert(errorInfo.error);
        }else if(errorInfo.url){
            location.href = '';
        }
    });
}
/*
发送邮箱激活码
 */
function sendMailActive(){
    var email = $('#email').val();
    $.post('/user/info', {'email': email}, function(error){
        var errorInfo = eval(error)[0];
        if(errorInfo.error){
            alert(errorInfo.error);
        }else if(errorInfo.mess){
            alert(errorInfo.mess);
            $('#active_mail_div').show();
            $('#email').attr('readonly', 'true');
            $('#email').next('a').hide();
        }
    });
}
/*
邮箱激活码验证保存邮箱
 */
function mailActive(){
    var mail_n = $('#email').val();
    var active_m = $('#mail_active').val();
    $.post('/user/info', {'mail_n': mail_n, 'active_m': active_m}, function(error){
        var errorInfo = eval(error)[0];
        if(errorInfo.error){
            alert(errorInfo.error);
        }else if(errorInfo.url){
            window.location.href = '';
        }
    });
}
/*
发送手机激活码
 */
function sendPhoneActive(){

    var phone = $('#phone').val();
    $.post('/user/info', {'phone': phone}, function(error){
        var errorInfo = eval(error)[0];
        if(errorInfo.error){
            alert(errorInfo.error);
        }else if(errorInfo.mess){
            alert(errorInfo.mess);
            $('#active_phone_div').show();
            $('#phone').attr('readonly', 'true');
            $('#phone').next('a').hide();
        }
    });
}
/*
手机激活码验证保存手机
 */
function phoneActive(){
    var phone_n = $('#phone').val();
    var active_p = $('#phone_active').val();
    $.post('/user/info', {'phone_n': phone_n, 'active_p': active_p}, function(error){
        var errorInfo = eval(error)[0];
        if(errorInfo.error){
            alert(errorInfo.error);
        }else if(errorInfo.url){
            window.location.href = '';
        }
    });
}
</script>
{% endblock %}
{% block mainBlock %}
<div class="ss22">dsad</div>
<div class="ss22">dsad</div>
<div class="set">
{% include 'base_user_left.html' %}
     <div class="set-y">
	  <div class="set-yt"><span class="set-yt1">我的信息</span><span class="set-yt2">使用龙搜</span></div>
	 <Div>
        <div class="set-yx">
          <span class="nic">昵称</span><span class="nic1">{{ user.username }}</span>
          <span class="nicx" style="margin-left: 20px;display: none">
              <input id="username" class="nicx11"name="" type="text"/>
              <A href="javascript:saveUsername()" class="baochun" style="margin: 10px 0 0 20px;">保存</A>
          </span>
            <span class="nic2">
                <a href="javascript:void(0)" onclick="edit_click(this, '')">编辑</a></span>
        </div>

        <div class="set-yx" style="margin-top: 10px;">
          <span class="nic">邮箱</span><span class="nic1">{{ user.email }}</span>
            <span class="nic2">
              <a href="javascript:void(0)" onclick="edit_click(this, 'mail')">{% if user.email %}更换邮箱{% else %}绑定邮箱{% endif %}</a>
            </span>
            <br>
          <div id="changeMailDiv" style="height: 100px;display: none">
                <span class="nicx" style="margin-left: 20px;">
                    <span style="float: left;margin-right: 20px;">新邮箱</span>
                    <input  class="nicx11" name="" type="text" id="email"/>
                    <A href="javascript:void(0)" onclick="sendMailActive()" class="baochun" style="margin: 10px 0 0 20px">发送激活码</A>
                </span>
                <div id="active_mail_div" style="display: none">
                <span style="float: left; margin-left: 20px;">激活码</span>
                <span class="nicx" style="margin-left: 20px;">
                    <input  class="nicx11"name="" type="text" id="mail_active"/>
                    <A href="javascript:mailActive()" class="baochun" style="margin: 10px 0 0 20px">激活</A>
                </span>
                </div>
          </div>
        </div>

        <div class="set-yx" style="margin-top: 10px;">
          <span class="nic">手机</span><span class="nic1">{{ user.phone }}</span>
            <span class="nic2">
              <a href="javascript:void(0)" onclick="edit_click(this, 'phone')">{% if user.phone %}更换手机{% else %}绑定手机{% endif %}</a>
            </span>
            <br>
          <div id="changePhoneDiv" style="height: 100px;display: none">
                <span class="nicx" style="margin-left: 20px;">
                    <span style="float: left;margin-right: 20px;">新手机</span>
                    <input  class="nicx11" name="" type="text" id="phone"/>
                    <A href="javascript:void(0)" onclick="sendPhoneActive()" class="baochun" style="margin: 10px 0 0 20px">发送激活码</A>
                </span>
                <div id="active_phone_div" style="display: none">
                <span style="float: left; margin-left: 20px;">激活码</span>
                <span class="nicx" style="margin-left: 20px;">
                    <input id="phone_active" class="nicx11"name="" type="text"/>
                    <A href="javascript:phoneActive()" class="baochun" style="margin: 10px 0 0 20px">激活</A>
                </span>
                </div>
          </div>
        </div>
     </Div>
	 </div>
</div>
{% endblock %}
