{% extends 'base.html' %}
{% block titleBlock %}龙搜{% endblock %}
{% block metaBlock %}
<meta name="keywords" content="搜索,龙搜,首页" />
<meta name="description" content="龙搜，搜索" />
{% endblock %}
{% block styleBlock %}
<link rel="stylesheet" type="text/css" href="/static/css/style.css">
{% endblock %}
{% block scriptBlock %}
<script type="text/javascript" charset="utf-8" src="/static/script/mousewheel.js"></script>
<script type="text/javascript" charset="utf-8" src="/static/script/easyscroll.js"></script>
<style type="text/css">
.quotes li{float: left;}
.set-nv ul li:nth-child(4) { background:#2a8fdd;}
.set-nv ul li:nth-child(4) a {color:#FFF;}
.set-nv ul li:nth-child(4) a{background: url('/static/img/ann-2.png') no-repeat; background-position: 23px -158px;}
</style>
<script type="text/javascript">
	$(function(){
{#		$('.div_scroll').scroll_absolute({arrows:true});#}
{#		$('.container2 .div_scroll').scroll_absolute({arrows:false});#}
        $('body').attr('class', 'bg2');
	})
</script>
{% endblock %}
{% block mainBlock %}
<div class="ss22">dsad</div>
<div class="ss22">dsad</div>
<div class="set">
   {% include 'base_user_left.html' %}
     <div class="set-y">
        <div class="set-yt">
             <span class="set-yt1">搜索记录</span>
             <span class="set-yt2">使用龙搜</span>
        </div>
        <Div>
            {% for us in usersSms %}
            <div class="ssjl-1">
                <Span class="ssjl-11">
                    <a href="/user/message/detail?m_id={{ us.id }}">{{ us.title }}</a>
                </Span>
                <span class="ssjl-12">{{ us.addtime }}</span>
            </div>
            {% endfor %}

            <div class="snsyejiao">
                <div class="quotes" style="cursor: pointer">
                    {{ pagination.links }}
{#                    <span class="disabled">&lt; </span>#}
{#                    <span class="current">1</span>#}
{#                    <a href="#?page=2">2</a><a href="#?page=3">3</a>#}
{#                    <a href="#?page=4">4</a><a href="#?page=5">5</a>#}
{#                    <a href="#?page=6">6</a><a href="http://www.divcss5.com">7</a>...#}
{#                    <a href="#?page=199">199</a><a href="http://www.divcss5.com">200</a>#}
{#                    <a href="#?page=2">&gt; </a>#}
                </div>
            </div>
        </Div>
	 </div>
</div>
{% endblock %}
