@charset "utf-8";
*{margin:0;padding:0;border:0;}


/* slide */
.slide,.slide li{width:420px;height:420px;background-color:#fbfbfb;}
.slide{
	overflow: hidden;

	position: relative;
}
.slide li{position:absolute;overflow:hidden;display:none;}
.slide li.current{display:block;}
.slide li .image{position:absolute;top:-2px;left:-2px;}
.slide li .text{bottom:0;overflow:hidden;background-color:rgba(0,0,0,0.6);width:148px;float:right;position:relative;height:auto;background:0;filter:none;text-indent:0;margin:15px 10px 0 0;padding:6px 0;}
.slide li .text a{color:#fff;font-size:14px;line-height:17px;float:left;}
.slide li img{
	width: 420px;
	height: 320px;
}
.slide li .text .title a{font-size:16px;font-weight:700;color:#000;font-family:"微软雅黑","宋体";line-height:22px;text-indent:0;float:none;}
.slide li .text p{color:#888;font-size:12px;text-indent:0;clear:both;line-height:20px;margin-top:4px;}

.slide .triggers{position:absolute;z-index:1;width:400px;text-align:center;bottom:100px;height:38px;right:0;left:0;padding:0 0 8px;}
.slide .triggers a{font-size:11px;line-height:12px;color:#000;overflow:hidden;border-radius:1px;-webkit-text-size-adjust:none;float:none;width:62px;height:42px;text-align:center;display:inline-block;background:0;margin:0 3px 0 0;}
.slide .triggers a:hover{text-decoration:none;}
.slide .triggers a img{width:58px;height:38px;border:1px #999 solid;vertical-align:middle;opacity:.6;}
.slide .triggers a.current img{border:2px #2fac00 solid;opacity:1;}

.slide .icon-dot{display:inline-block;position:absolute;bottom:20px;right:43px;}
.slide .icon-dot a{width:9px;height:9px;display:inline-block;background-image:url(../img/nav.png);background-repeat:no-repeat;background-position:-1px -1px;overflow:hidden;margin:0 2px;}
.slide .icon-dot a.current{background-position:-1px -12px;}

.slide .link-watch{width:30px;height:44px;display:none;position:absolute;top:110px;background:url(../img/arrow.png) no-repeat 0 -57px;filter:alpha(opacity=60);cursor:pointer;}
.slide .link-watch.pre{left:15px;display: inline-block;}
.slide .link-watch.next{left:368px;right:0;background-position:right -57px;display: inline-block;}
.slide .link-watch.down{background-position-y:-2px;}
