<div class="nr-tx">
    <div class="nr-tx1">
        <a class="tx">
            <img src="/static/img/231_03.png" width="68" height="68" />
        </a>
    </div>
    <div class="nr-tx3z">
        <div class="nr-tx3"></div>
        <div class="nr-tx2">
			{{ searchData.0.title }}<br />
            <audio controls="controls" loop="loop">
              <source src="song.ogg" type="audio/ogg" />
              <source src="muisc/asd.mp3" type="audio/mpeg" />
            Your browser does not support the audio element.
            </audio>
        </div>
    </div>
</div>