<div class="nr-tx">
    <div class="nr-tx1">
        <a class="tx">
        <img src="/static/img/231_03.png" width="68" height="68" />
        </a>
    </div>
    <div class="nr-tx3z">
        <div class="nr-tx3"></div>
        <div class="nr-tx2">{{ searchData.0.title }}<br />
            <video src="movie.ogg" controls="controls">
                <source src="movie.ogg" type="video/ogg" />
                <source src="movie.mp4" type="video/mp4" />
                您的浏览器不支持 video 标签。
            </video>
        </div>
    </div>
</div>